body {
    background-color: #ccc;
}

.header {
    background-color: #1b5c46;
    padding: 15px 0;
    color: white;
}

.header p {
    margin-top: 8px;
}

/********* BreadCrumb ********/

section.breadcrumb > .container{
    background-color: white;
    border-radius: 12px;
}

section.breadcrumb nav li {
    position: relative;
    top: 7px;
}

/*************** Principal ***************/



.head {
    width: 100% !important;
    background-color: #0d6efd;
}